apiVersion: v1
kind: Service
metadata:
  name: vercel-signadot-backend
  namespace: default
  labels:
    app: vercel-signadot-backend
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 3000
      targetPort: http
      protocol: TCP
  selector:
    app: vercel-signadot-backend
